.page-header {
  display: block;
  width: 1200px;
  background-color: #2e2430;
  margin: 0 auto;
}

.page-header__wrapper {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  min-height: 49px;
  align-items: center;
}

.page-header__info {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}

.page-header__contacts {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  width: 267px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.page-header__contacts::before {
  content: "I";
  position: absolute;
  right: 48%;
}

.page-header__contacts--phone {
  display: block;
  width: 127px;
}

.page-header__contacts--mail {
  display: block;
  width: 114px;
}
